/**
 * positioning
 */

.pf-heart-wrap--top {
  top: 1rem;
}
.pf-heart-wrap--bottom {
  bottom: 1rem;
}

.pf-heart-wrap--left {
  left: 1rem;
}
.pf-heart-wrap--right {
  right: 1rem;
}
/**
 * wrapper
 */

/* wrapper is fixed + positioned */
.pf-heart-wrap {
  position: fixed;
  z-index: 999999;
  width: 24px;
  height: 24px;
  padding: 8px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0.2rem;

  font-size: 24px;
  line-height: 1;

  border-radius: 9999px;
  background: #fff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  opacity: 0.77;
  color: #000;
  transition: all 0.3s ease;

  // show / hide ...
  .pf-show-bookmarks {
    display: none;
    opacity: 0;
  }

  &:hover,
  &:focus,
  &:active,
  &.pf-heart-is-hot {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
    opacity: 1;
    background-color: #f3f4f6; /* light gray on hover */
    overflow: visible;
    width: auto;
    .pf-show-bookmarks {
      display: block;
      opacity: 1;
    }
  }

  /**
   * buttons
   */

  > button {
    display: block;
    color: #000;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    font-size: 24px;
    height: 24px;
    width: 24px;
    line-height: 1;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      color: var(--pf-heart-hover-color, red);
    }
    &.pf-heart {
      filter: grayscale(100%);
      opacity: 0.37;
      &.pf-on,
      &:hover {
        color: var(--pf-heart-hover-color, red);
        filter: grayscale(0%);
      }
      &.pf-on {
        opacity: 1;
      }
    }
    &.pf-show-bookmarks {
      font-size: 15px;
      &:hover {
        color: green; /* green on hover */
      }
    }
  }
}

.pf-heart-for-another-page-inner {
  position: absolute;
  right: 0rem;
  top: 0rem;
  text-align: right;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-left: -3px;
  margin-top: -3px;
  * {
    background-color: transparent;
  }
  &:hover {
    background-color: transparent;
    box-shadow: none;
  }
}

.pf-no-bookmarks {
  opacity: 0.5 !important;
}

.pf-has-bookmarks {
  opacity: 0.8 !important;
  &:hover {
    opacity: 1 !important;
  }
}
