.pf-char {
    display: inline-block;
    vertical-align: -0.1em;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: inherit;
    color: inherit;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: currentColor;
        -webkit-mask: var(--icon) no-repeat center / contain;
        mask: var(--icon) no-repeat center / contain;
    }

    /* Icons */
    /* Your heart SVG as a mask */
    &--heart {
        --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 107.41'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M60.83,17.19C68.84,8.84,74.45,1.62,86.79,0.21c23.17-2.66,44.48,21.06,32.78,44.41 c-3.33,6.65-10.11,14.56-17.61,22.32c-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.56C29.16,76.9,0.95,55.93,0.02,29.95 C-0.63,11.75,13.73,0.09,30.25,0.3C45.01,0.5,51.22,7.84,60.83,17.19z'/%3E%3C/svg%3E");
    }

    /* Your trash (circle X) SVG as a mask */
    &--delete {
        --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.881 122.88'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M61.44,0c33.933,0,61.441,27.507,61.441,61.439 c0,33.933-27.508,61.44-61.441,61.44C27.508,122.88,0,95.372,0,61.439C0,27.507,27.508,0,61.44,0z M81.719,36.226 c1.363-1.363,3.572-1.363,4.936,0c1.363,1.363,1.363,3.573,0,4.936L66.375,61.439l20.279,20.278c1.363,1.363,1.363,3.573,0,4.937 c-1.363,1.362-3.572,1.362-4.936,0L61.44,66.376L41.162,86.654c-1.362,1.362-3.573,1.362-4.936,0c-1.363-1.363-1.363-3.573,0-4.937 l20.278-20.278L36.226,41.162c-1.363-1.363-1.363-3.573,0-4.936c1.363-1.363,3.573-1.363,4.936,0L61.44,56.504L81.719,36.226z'/%3E%3C/svg%3E");
    }
    /* Hide the original UTF-8 character, but keep element sizing/clicking */

    & > .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
}
